# Ensure shell scripts keep LF line-endings and executable permission on all platforms
*.sh text eol=lf
mvnw text eol=lf
*.cmd text eol=crlf
# Binary files never transform
*.jar binary
*.png binary
*.jpg binary
*.proto text
